:root {
    --color-bg: #07769e;
    --color-text-main: #000000;
    --color-text-header: #0553d9;
    --color-primary: #ffff00;
    --color-bg2: #ffffff;
    --color-form: #3f96d5;
    --color-quest: #88d0f9e1;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  
.OVERLAY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .7);
    overflow-y: auto;
    font-family: var(--bs-font-sans-serif);
}

.score2{
    font-weight: bold;
}

.marks2 {
    display: none;
}

.marks {
    display: block;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    width: fit-content;
    margin-left: 15px;
    position: fixed;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    z-index: 1000;
    overflow-x: auto;
    max-width: 17%;
}

th,
td,
tr {
    border: 2px solid rgb(14, 139, 167);
    padding: 5px 7px;
    color: var(--color-bg);
    border-collapse: collapse;
    text-align: center;
    color: darkblue;

}

table {
    border-collapse: collapse;
    border: 1px solid darkblue;
  }

.POPUP_STYLE {
    margin: 1rem auto;
    padding: 2.5rem;
    background: #fff;
    border-radius: 15px;
    width: 70%;
    position: relative;
    margin-left: 20%;
    transition: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0 1px 4px black;
}


figure {
    padding-bottom: 10px !important;
    width: 100% !important;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    margin: auto !important;
}

.se-component {
    width: 90% !important;
    margin: auto !important;

}

iframe {
    margin: 15px 0px !important;
    width: 90% !important;
}

figure img {
    margin: 15px 0px !important;
    max-width: 100%;
    min-width: 40%;
}

.POPUP_STYLE br {
    display: block !important;
}

.choice-btn {
    font-size: 18px;
    padding: 0.7rem 1.5rem;
    background-color: var(--color-bg);
    border-radius: 30px;
    margin: 10px;
    transition: transform 0.3s;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px rgba(72, 72, 72, 0.526);
    max-width: 80%;
}

.choice-btn:hover {
    background-color: rgb(153, 201, 244);
    transform: scale(0.98);
    color: rgb(0, 0, 0);
    box-shadow: none;

}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 12px;
    border-radius: 30px;
    border: darkred;
}

.choice-diagnose {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.QUESTION {
    box-shadow: 0 1px 3px black;
    text-align: justify;
    background-color: rgba(227, 226, 226, 0.796);
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 16px !important;
    font-family: var(--bs-font-sans-serif);
}

.HIGHLIGHT {
    font-size: 20px;
    font-weight: bold;
}

.HIGHLIGHT-CHOICED {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.namechoice {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(251, 251, 251);
    background: rgb(22, 106, 180);
    border-radius: 5px;
}

.error {
    background-color: rgb(225, 29, 29);
    margin-top: 20px;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    font-weight: bold;
}

.success {
    background-color: rgb(29, 225, 98);
    margin-top: 20px;
    padding: 1rem;
    border-radius: 20px;
    color: darkblue;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    flex-direction: column;
    font-weight: bold;
}

.success button {
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
}

.error button {
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
}

button.btn-top {
    width: 100%;
    font-size: 30px;
    border: none;
    background: white;
}

button.btn-top:hover {
    color: rgb(0, 204, 245);
}

.error button:hover {
    background: var(--color-bg);
    color: rgb(179, 214, 244);
}

/* @media screen and (max-width: 1200px) {
    iframe {
        height: 400px !important;
    }
} */

@media screen and (max-width: 992px) {
    .choice-diagnose {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }

    .choice-btn {
        max-width: 60%;
        font-size: 14px;
        padding: 0.4rem;
        border-radius: 30px;
        margin: 5px;
    }
}

@media screen and (max-width: 576px) {
    .POPUP_STYLE {
        margin: 1rem;
        padding: 1rem;
        padding-top: 1.5rem;
        width: 92%;
        margin-top: 0;
        top: 100px;
    }

    .QUESTION {
        padding: 1.2rem;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        font-size: 14px;
        text-align: justify;
    }

    .HIGHLIGHT-CHOICED {
        font-size: 16px;
        margin-bottom: 0.3rem;
    }

    .marks{
        display: none;
    }

    .marks2 {
        display: block;
        background: #fff;
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
        width: fit-content;
        left: 4%;
        position: fixed;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        z-index: 1000;
        overflow-x: auto;
        max-width: 92%;
    }

    iframe {
        display: block !important;
    }

    figure img {
            margin: 15px 0px !important;
            max-width: 100%;
            min-height: none;
    }

    .center {
        width: 95%;
    }

    .close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.7rem;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 4px 10px;
        border-radius: 30px;
        border: darkred;
    }

    .choice-btn {
        font-size: 11px;
        padding: 0.4rem;
    }

    .HIGHLIGHT {
        font-size: 18px;
    }


}